# Ignore Streamlit cache files
.streamlit/

# Ignore cache created by Streamlit @st.cache_data decorator
__pycache__/

# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
venv/
.venv/

# Ignore Jupyter Notebooks checkpoints
.ipynb_checkpoints/